<h2>META UPLOAD PAGE</h2>


<form id="metaForm">
    <h1>New Content Submission Form</h1>
    <label>Project Name</label><input type="text" name="projectName" autofocus><br  />
    <label>Project Date</label><input type="text" name="date"><br  />
    <label>Meta Tags (seperate with commma)</label><input type="text" name="meta"><br  />
    <label>Video URL</label><input type="text" name="videoURL"><br  />
    
    <label>Project Description short</label><br  />
    <textarea type="text" name="descShort" spellcheck="true"></textarea><br  />
    <label>Picture Description medium</label><br  />
    <textarea type="text" name="descMedium" spellcheck="true"></textarea><br  />
    <label>Picture Description long</label><br  />
    <textarea type="text" name="descLong" spellcheck="true"></textarea><br  />
    
    <br  />
    <label>Picture Filename 1</label><input type="text" name="fileName01"><br  />
    <label>Picture Description 1</label><input type="text" name="fileDesc01">
    <br  />
    <br  />
    
    <label>Picture Filename 2</label><input type="text" name="fileName02"><br  />
    <label>Picture Description 2</label><input type="text" name="fileDesc02">
    <br  />
    <br  />
    
    <label>Picture Filename 3</label><input type="text" name="fileName03"><br  />
    <label>Picture Description 3</label><input type="text" name="fileDesc03">
    <br  />
    <br  />
    
    <label>Picture Filename 4</label><input type="text" name="fileName04"><br  />
    <label>Picture Description 4</label><input type="text" name="fileDesc04">
    <br  />
    <br  />
    
        <label>Picture Filename 5</label><input type="text" name="fileName05"><br  />
    <label>Picture Description 5</label><input type="text" name="fileDesc05">
    <br  />
    <br  />
    
        <label>Picture Filename 6</label><input type="text" name="fileName06"><br  />
    <label>Picture Description 6</label><input type="text" name="fileDesc06">
    <br  />
    <br  />
    
        <label>Picture Filename 7</label><input type="text" name="fileName07"><br  />
    <label>Picture Description 7</label><input type="text" name="fileDesc07">
    <br  />
    <br  />
    
        <label>Picture Filename 8</label><input type="text" name="fileName08"><br  />
    <label>Picture Description 8</label><input type="text" name="fileDesc08">
    <br  />
    <br  />
    
    <label>Picture Filename 9</label><input type="text" name="fileName09"><br  />
    <label>Picture Description 9</label><input type="text" name="fileDesc09">
    <br  />
    <br  />
    
    <label>Picture Filename 10</label><input type="text" name="fileName10"><br  />
    <label>Picture Description 10</label><input type="text" name="fileDesc10">
    <br  />
    <div id="upload" ng-click="submit()">Upload</div>
</form>
    
